.tweetstorm-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tweetstorm-input {
  display: flex;
  justify-content: center;
  padding: 1%;
  flex: 1;
}

.tweetstorm-input textarea {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

@media (max-width: 920px) {
  .tweetstorm-container {
    display: flex;
    flex-direction: column;
  }

  .tweetstorm-input {
    display: flex;
    justify-content: center;
    padding: 1%;
    flex: 1;
  }

  .tweetstorm-input textarea {
    display: flex;
    flex: 1;
    height: 50%;
    width: 100%;
  }
}

.tweetstorm-preview {
  display: flex;
  padding: 1%;
  justify-content: center;
  flex: 1;
}

.tweetstorm-tweets-title {
  display: flex;
  justify-content: center;
  padding: 1%;
}
